body{
    display: flex;
    flex-direction: column;
    align-items :center;
    background-color:hsl(0, 0%, 90%);
}

#myH1{
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:hsl(0, 0%, 25%);
}

#container{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 30px;
    border:5px solid;
    border-radius:50px;
    background-color:white;
}

#display{
    font-size: 5rem;
    font-family :monospace;
    font-weight: bold;
    color:hsl(0, 0%, 30%);
    text-shadow:2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom:25px;
}

#controls button{
    font-size:1.5rem;
    font-weight:bold;
    font-style: oblique;
    padding :10px 20px;
    margin: 5px;
    min-width: 125px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    color:white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color:hsl(114, 96%, 11%);
}

#startBtn:hover{
    background-color:hsl(115, 82%, 51%);
}

#stopBtn{
    background-color:hsl(224, 97%, 23%);
}

#stopBtn:hover{
    background-color:hsl(224, 81%, 54%);
}

#resetBtn{
    background-color:hsl(304, 94%, 14%);
}

#resetBtn:hover{
    background-color:hsl(303, 84%, 71%);
}

#lapList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; 
}

#lapList li {
    font-size: 3rem; 
    margin-bottom: 5px; 
}

#lapBtn{
    background-color:hsl(258, 92%, 14%);
}

#lapBtn:hover{
    background-color:hsl(258, 45%, 59%);
}